stages:
- generate
- run

generate_pipeline:
  image: julia:1.10
  stage: generate
  variables:
    CI_GIT_CI_TOOLS_URL: https://github.com/QEDjl-project/QuantumElectrodynamics.jl.git
    CI_GIT_CI_TOOLS_BRANCH: dev
    CI_ENABLE_CUDA_TESTS: "ON"
    CI_ENABLE_AMDGPU_TESTS: "ON"
  script:
    - apt update && apt install -y git
    - git clone --depth 1 -b $CI_GIT_CI_TOOLS_BRANCH $CI_GIT_CI_TOOLS_URL /generator
    - julia --project=/generator/.ci/CI -e 'import Pkg; Pkg.instantiate()'
    - julia --project=/generator/.ci/CI /generator/.ci/CI/src/Bootloader.jl > $CI_PROJECT_DIR/pipeline.yaml
    - cat $CI_PROJECT_DIR/pipeline.yaml
  artifacts:
    paths:
      - pipeline.yaml
    expire_in: 1 week
  interruptible: true
  tags:
    - cpuonly

run_pipeline:
  stage: run
  trigger:
    include:
      - artifact: pipeline.yaml
        job: generate_pipeline
    strategy: depend
